.container {
  width: 600px;
  min-height: 400px;
  padding: 20px;
  margin: 30px auto;
  color: #2277aa;
  border-radius: 4px;
  min-width: 300px;

}

.logo {
  display: block;
  margin: 20px auto;
  width: 50px;
  border-radius: 7px;
}